{% extends "base.html" %}

{% block pageheading %} Login {% endblock %}

{% block main %}

<form class="myform">
    <h1>Please enter login details:</h1>
    <div class="form-group">

        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email"></div>
    </div>

    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password"></div>
    </div>

    <div class="button-group">
        <input type="submit" value="Submit"> or <a href="/signup">sign up</a>
    </div>

</form>

{% endblock %}